/*
.vertical-navbar {
    width: 10%; 
    height: 100vh; 
    background-color: #dadada; 
    position: fixed; 
    width: 10%;
    top: 0; 
    left: 0; 
    padding-top: 20px; 
  }
    */
  
  .vertical-navbar ul {
    list-style-type: none;
    padding: 0; 
  }
  
  .vertical-navbar li {
    padding: 15px; 
  }
  
  .vertical-navbar a {
    color: inherit;
    text-decoration: none; 
    display: block; 
  }
  
  .vertical-navbar a:hover {
    background-color: #575757; 
  }
  