table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}

th, td {
    /*border: 1px solid #ddd;*/
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ddd;
}

.list-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.filters {
    display: flex;
    font-size: 2px;
}