.transaction-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-row{
    display: flex;
    flex-direction: row;
    margin: 5px;
    width: 80%;
}

.row-text {
    width: 10%;
    margin-right: 5%;
}

.info-row input,
.info-row select{
    width: 20%;
    box-sizing: border-box;
    padding: 0rem;
    font-size: var(--font-size-base);
}

.info-row .description {
    width: 50%;
}

.categories-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; 
}

.categories-header {
    display: flex;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.category-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.category-row input  {
    margin-right: 0.5rem;
    flex: 1;
}

.category-row select {
    font-size: var(--font-size-base);
}

.category-row span  {
    margin-right: 0.5rem;
    flex: 1;
}


.category-row button {
    margin-left: 0.5rem;
}

.primary-buttons {
    display: flex;
    justify-content: right;
}
