:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-size-small: 0.875rem;  /* 14px */
  --font-size-base: 1rem;       /* 16px */
  --font-size-medium: 1.125rem; /* 18px */
  --font-size-large: 1.5rem;    /* 24px */
  --font-size-xlarge: 2rem;     /* 32px */
  --font-size-xxlarge: 3rem;    /* 48px */

  --color-primary: #95B2B0;
  --color-primary-hover: #728886;
  --color-secondary: #4C5B5C;
  --color-accent: #C6EBBE;
  --color-background: #f8f9fa;
  --color-text-b: #212529;
  --color-text-w: #ecf0f1;

  color-scheme: normal;
  color: var(--color-text);
  background-color: var(--color-background);
  
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-size: var(--font-size-base);
}

